@page
@model WebApp.Pages_CourseDeclarations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CourseDeclaration</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDeclaration!.IsStudent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseDeclaration!.IsStudent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDeclaration!.FinalGrade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseDeclaration!.FinalGrade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDeclaration!.Person)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseDeclaration!.Person!.PersonId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDeclaration!.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseDeclaration!.Course!.CourseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CourseDeclaration!.CourseDeclarationId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
