@page
@model WebApp.Pages_Homeworks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Homework[0].HomeworkDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Homework[0].Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Homework) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HomeworkDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course!.CourseName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.HomeworkId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.HomeworkId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.HomeworkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
